
button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Customize as needed */
}

/* Specific style for your menu button */
.menu:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}


body {
    margin: 0;
    font-size: 1rem;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.navigation{
    background-color: white;

}
.menu-list-none .text ,.menu-list-one .text {
    font-size:1.5rem;
    margin: 0px;
    text-decoration: none;
    padding: 0px;
    cursor: pointer;
}
.navigation .yellow-color{
    border: solid 2px #F17400;
}

.nav-container{
    display: flex;
    padding: 0px 40px 0px 40px;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}
.nav-container nav {
    min-width: 15%;
}
.nav-container nav  {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.logo-container{
    z-index: 45;
    display: flex;
   justify-content: space-even;
    background-color: white;
    border-radius: 0px 0px 18px 18px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.logo-container img{
    max-width: 30%;
}

nav .menu{
    display:none;
    font-size: 25px;
    cursor: pointer;
}



/*navigation end logo end*/
/*image-cloud-and-tree*/

.opening-picture {
    max-width: 100%;
    min-height: 600px;
    background-color: #99E9F4;
    background-image: url(../image/oneandonly.svg); 
    background-size: cover; /* or cover, depending on your needs */
    background-position: center;
    border-bottom-left-radius: 15% 8%;
     border-bottom-right-radius: 15% 8%;
     background-clip: content-box;
    
}

.opening-picture .title{
    padding-top: 3.3rem;
    font-size:3.8rem;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    color: white;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #278896;
   text-align: center;
}

.kid-image-container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.kid-image-container img{
    max-width: 40%;
}
.kid-image-container .tree-img{
    max-width: 8%;
}
/*kid image 8 */

/* learning activities  */
.learning-activities{
    width: 100%;
    min-height: 500px;
    background-image: url(../image/starnadmilkyway.svg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size:79% auto; /* or cover, depending on your needs */
    
}

.learning-activities h2, .green-land h2{
      
    margin: 0;
    padding-top: 6%;
    text-align: center;
    color: #102D76;
    font-size: 3.2rem;
    font-weight: 500;
     font-family: "Roboto Serif", serif;
}

.learning-category{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 23%;
    margin-top:80px;
  
}
.learning-category a{
   display: flex;
   justify-content: center;
   align-items: center;
  
}
.categories-dudu {
    width: 200px; /* Fixed width for the container */
    border:4px solid #102D76; /* Background color */
    border-radius: 55px; /* Rounded corners */
    padding: 10px 5px; /* Reduced left and right padding */
    text-align: center; /* Center the text */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.categories-dudu img {
    max-width: 74%; /* Scale image to 100% of the container's width */
}
a{
    text-decoration: none;
}
.categories-dudu .game-text {
    text-decoration: none;
    color: rgb(0, 0, 0); /* Text color */
    font-size: 1.2em; /* Font size */
    margin: 10px; /* Space between image and text */
}



/*greend land gaming activities*/
.green-land {
    margin-top: -5%;
    width: 100%;
    height: 550px;
    background-image: url(../image/GREENLAND.svg); 
    background-repeat:no-repeat;
    background-position: top;
    background-size:99,8% auto; /* or cover, depending on your needs */
    }

/*footer */
.footer{
    padding-left: 4%;
    padding-right: 4%;
    background-color: #6295A2;
}
.footer h2{
    margin: 0px;
    color: white;
    font-size: 2.2rem;
    font-family: "Roboto Serif", serif;
}
.footer-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: transparent;
        padding-top: 1%;
}
.footer-container img{
    max-width: 4%;
}
.footer-container p{
   
     color :white;
     font-size: 1.1rem;
     font-family: "Roboto Serif", serif;
}
.para {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.para div p{
    text-align: right;
    margin: 0 auto;
    font-size: 0.8rem;
    font-family: "Roboto Serif", serif;
}
.para p{
    min-width:50%  !important;
    color: white;
     font-size: 1.1rem;
    font-family: "Roboto Serif", serif;
}
.copyright{
    color: white;
    padding-top: 0.8%;
    font-size: 0.8rem;
    font-family: "Roboto Serif", serif;
    padding-bottom: 0.5%;
}
.social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media div a{
    color: white;
    text-decoration: none;
    font-size: 1.8em; /* Adjust icon size */
    transition: color 0.3s ease;
}
.menu-container-list{
    font-size:2.8rem;
    width:100%;
    display:flex;
    justify-content: space-between;
}
/*media query */
@media (min-width: 1437px) {
    .green-land {
        background-size:100% ; /* or cover, depending on your needs */
        }
        .green-land .learning-category{
            padding-bottom: 20%;
        }

}
@media (min-width: 1630px) {
    .green-land {
        background-size:100% ; /* or cover, depending on your needs */
        }
        .green-land .learning-category{
            padding-bottom: 15%;
        }

}

