/* Medium Phones (Portrait) */
@media (max-width: 667px) {
    
    @media (max-width: 667px) {
        nav .menu {
            display: block !important; 
            font-size: 32px;
            cursor: pointer;
        }
    
        nav .menu-list-none {
            display: none ;
        }
        .logo-container{
            margin-right:23%;
        }
        .logo-container img{
            max-width: 20%;
        }
        .opening-picture .title{
            font-size:2.5rem;
        }
        .opening-picture {
            min-height: 400px;
            background-size: fit; /* or cover, depending on your needs */
            
        }
        .learning-activities h2, .green-land h2{
            margin: 0;
            padding-top: 6%;
            text-align: center;
            color: #102D76;
            font-size: 2rem;
            font-weight: 500;
             font-family: "Roboto Serif", serif;
        }
    }
    
  
   
    
 }
