@media only screen and (min-width: 883px) {
    .nav-container nav {
        min-width: 25%;
    }
 
    .logo-container{
        margin-right:23%;
    }
    .logo-container h2{
       font-size:2.2rem;
    }
    .logo-container img{
        max-width: 90%;
    }
    .footer-container img{
        min-width: 10%;
    }
  
}

/* Medium Phones (Portrait) */
@media only screen and (max-width: 883px) {
    .nav-container nav {
        min-width: 35%;
    }
 
    .logo-container{
        margin-right:23%;
    }
    .logo-container h2{
       font-size:2.2rem;
    }
    .logo-container img{
        max-width: 90%;
    }
    .footer-container img{
        min-width: 10%;
    }
    .learning-category{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns */
        grid-gap: 20px; /* Space between items */
        padding-bottom: 23%;
        margin-top: 80px;
      
    }
   
    .categories-dudu {
        width: 280px !important; /* Fixed width for the container */
        border:4px solid #102D76; /* Background color */
        border-radius: 55px; /* Rounded corners */
        text-align: center; /* Center the text */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
    .categories-dudu img {
        max-width: 70%; /* Scale image to 100% of the container's width */
    }
    .green-land {
       height:750px !important;
      }
        .opening-picture .title{
            font-size:3.5rem;
        }


}
@media only screen and  (max-width: 815px) {
    .logo-container{
        margin-right:23%;
    }
 
    nav li{
        font-size:1.8rem !important;
    }
    .logo-container img{
        max-width: 80%;
    }
    .learning-category{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns */
        grid-gap: 10px; /* Space between items */
        padding-bottom: 23%;
        margin-top: 80px;
      
    }
    .green-land {
        height: 105dvh !important;
       }
    .categories-dudu {
        width: 250px !important; /* Fixed width for the container */
        border:4px solid #102D76; /* Background color */
        border-radius: 55px; /* Rounded corners */
        text-align: center; /* Center the text */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
    .categories-dudu img {
        max-width: 60%; /* Scale image to 100% of the container's width */
    }
    

}
    @media only screen and  (max-width: 667px) {
        
        .navigation { 
            position: -webkit-sticky; 
            position:sticky;
            top: 0;
            z-index: 1000;
            /* position: relative; */
        }
        .menu-list-none {
            display:none;
            position:absolute;
            top:100%;
            left:0%;
            width: 100%;
            padding:10px 0px;
            text-decoration:none;
            color:black;
           background-color: white;
           font-family: "Roboto Serif", serif;
      
         }
            .menu-list-one {
                display:none;
                position:absolute;
                top:170%;
                left:0%;
                width: 100%;
                padding:10px 0px;
                text-decoration:none;
                color:black;
               background-color: white;
               font-family: "Roboto Serif", serif;
          
           } 
      
        .menu-list-none p {
            margin: 0;
            padding: 10px 20px;
            border-bottom: 1px solid #ddd;
        }
        .menu-list-none p:hover {
            background-color: #f0f0f0;
        }
        nav .menu {
            display: block !important; 
            font-size: 32px;
            cursor: pointer;
        }
    
        nav .menu-list-none {
            display: none ;
        }
        .logo-container{
            margin-right:23%;
        }
        .logo-container h2{
           font-size:2rem;
        }
        .logo-container img{
            max-width: 80%;
        }
        .opening-picture h2{
            font-size:2.5rem;
        }
        .opening-picture {
            min-height: 450px;
            background-size: fit; /* or cover, depending on your needs */
            
        }
        
        .learning-activities h2, .green-land h2{
            margin: 0;
            padding-top: 6%;
            text-align: center;
            color: #102D76;
            font-size: 2rem;
            font-weight: 500;
             font-family: "Roboto Serif", serif;
        }
       
        .learning-category{
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* Two columns */
            grid-gap: 10px; /* Space between items */
            padding-bottom: 23%;
            margin-top: 80px;
          
        }
        .categories-dudu {
            width: 260px !important; /* Fixed width for the container */
            border:4px solid #102D76; /* Background color */
            border-radius: 55px; /* Rounded corners */
            text-align: center; /* Center the text */
            box-sizing: border-box; /* Include padding and border in the element's total width and height */
        }
        
        .categories-dudu img {
            max-width: 65% ; /* Scale image to 100% of the container's width */
        }
        .learning-activities{
            width: 100%;
            min-height: 500px;
            background-image: url(../image/starnadmilkyway.svg); 
            background-repeat: no-repeat;
            background-position: top;
            background-size:200% auto; 
           /* or cover, depending on your needs */
            
        }
        .nav-container nav .menu{
            margin-left:70%;
      }
        .para p{
            max-width:60%;
            color: white;
             font-size: 0.8rem;
        }
        .para div p{
            margin-right:0px;
           font-size: 0.7rem;
            font-family: "Roboto Serif", serif;
        }
        .footer-container img{
            max-width: 15%;
        }
        .footer-container p{
           
             color :white;
             font-size: 1.3rem;
             font-family: "Roboto Serif", serif;
        }
       
    }

    @media only screen and (max-width: 550px) {
       
       .nav-container nav .menu{
             margin-left:70%;
       }
       
        .nav-container nav {
            min-width: 25%;
        }
     
        .logo-container h2{
           font-size:1.5rem;
        }
        .logo-container img{
            max-width:70%;
        }
        .green-land {
            height: 90dvh  !important;
           }
           .categories-dudu {
            margin: 10px 10px;
            width: 180px !important; /* Fixed width for the container */
            border:4px solid #102D76; /* Background color */
            border-radius: 55px; /* Rounded corners */
            text-align: center; /* Center the text */
            box-sizing: border-box; /* Include padding and border in the element's total width and height */
        }
  
    }

    @media only screen and (max-width: 430px) {

       
        .logo-container{
         
            margin-right:20%;
        }
        .learning-activities h2, .green-land h2{
            font-size:2rem;
        }
        nav .menu{
            margin-left:70%;
         }
        .logo-container h2{
           font-size:1.2rem;
        }
        .logo-container img{
            max-width: 85%;
        }
        .learning-category{
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* Two columns */
            grid-gap: 10px; /* Space between items */
           
            margin-top: 80px;
        }
       
        .categories-dudu {
            width: 148px !important; /* Fixed width for the container */
            border:4px solid #102D76; /* Background color */
            border-radius: 55px; /* Rounded corners */
            text-align: center; /* Center the text */
            box-sizing: border-box; /* Include padding and border in the element's total width and height */
        }
        .categories-dudu img {
            max-width: 60%; /* Scale image to 100% of the container's width */
        }
        .green-land {
            height: 72dvh  !important;
           }
           
       
    }

    @media only screen and (max-width: 380px) {
      
        .logo-container img{
            max-width: 65%;
        }
        .learning-category{
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* Two columns */
            grid-gap: 10px; /* Space between items */
           
            margin-top: 80px;
        }
       
        .categories-dudu {
            width: 160px !important; /* Fixed width for the container */
            border:4px solid #102D76; /* Background color */
            border-radius: 55px; /* Rounded corners */
            text-align: center; /* Center the text */
            box-sizing: border-box; /* Include padding and border in the element's total width and height */
        }
      
        .green-land {
            height: 92dvh  !important;
           }
       
    }
    @media only screen and (max-width: 330px) {
      

        .logo-container img{
            max-width: 55%;
        }
       
        .categories-dudu {
            width: 142px !important; /* Fixed width for the container */
            border:4px solid #102D76; /* Background color */
            border-radius: 55px; /* Rounded corners */
            text-align: center; /* Center the text */
            box-sizing: border-box; /* Include padding and border in the element's total width and height */
        }
        
        .green-land {
            height: 550px !important;
           }
           .opening-picture .title{
           font-size:2.2rem ;
           
        }
        .learning-activities h2, .green-land h2{
            font-size:1.5rem;
        }
       
    }

