
    /* .background {
      margin: 0px;
      padding: 0px;
      width: 99%;
      height: 98%;
      position: absolute;
    } */
    /* .boxes {
      position: absolute;
      width: 500px;
      height: 500px;
      z-index: 100;
      top: 50px;
      left: 390px;
    } */
    /* .page {
      position: absolute;
     
      z-index: 100;
      top: 50px;
      left: 390px;
      transform: translateX(-200%);
      opacity: 0;
      animation: slide-in-anim 1.5s ease-out forwards;
    } */
    /* .page_1 {
      width: 500px;
      height: 500px;
    }
    .player1 {
      position: absolute;
      background-color: #ffffff00;
      width: 50px;
      height: 20px;
      top: 68px;
      left: 155px;
      cursor: url("pointer.svg"), auto;
    }
    .player2 {
      position: absolute;
      background-color: #ffffff00;
      width: 50px;
      height: 20px;
      top: 90px;
      left: 303px;
      cursor: url("pointer.svg"), auto;
    }
    .player3 {
      position: absolute;
      background-color: #ffffff00;
      width: 169px;
      height: 54px;
      top: 126px;
      left: 153px;
      cursor: url("pointer.svg"), auto;
    }
    .player4 {
      position: absolute;
      background-color: #ffffff00;
      width: 169px;
      height: 54px;
      top: 193px;
      left: 184px;
      cursor: url("pointer.svg"), auto;
    }
    .player5 {
      position: absolute;
      background-color: #ffffff00;
      width: 169px;
      height: 24px;
      top: 263px;
      left: 154px;
      cursor: url("pointer.svg"), auto;
    }
    .player6 {
      position: absolute;
      background-color: #ffffff00;
      width: 120px;
      height: 24px;
      top: 305px;
      left: 154px;
      cursor: url("pointer.svg"), auto;
    }
    .player7 {
      position: absolute;
      background-color: #ffffff00;
      width: 70px;
      height: 24px;
      top: 347px;
      left: 284px;
      cursor: url("pointer.svg"), auto;
    }
    .player8 {
      position: absolute;
      background-color: #ffffff00;
      width: 116px;
      height: 24px;
      top: 386px;
      left: 239px;
      cursor: url("pointer.svg"), auto;
    }
    .player9 {
      position: absolute;
      background-color: #ffffff00;
      width: 92px;
      height: 24px;
      top: 423px;
      left: 154px;
      cursor: url("pointer.svg"), auto;
    }

    h1 {
      position: relative;
      text-align: center;
      color: #353535;
      font-size: 50px;
      font-family: "Cormorant Garamond", serif;
    }

    p {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      text-align: center;
      font-size: 18px;
      color: #676767;
    }
    .frame {
      width: 90%;
      margin: 40px auto;
      text-align: center;
    }
    button {
      margin: 20px;
    }
    .custom-btn {
      width: 130px;
      height: 40px;
      color: #fff;
      border-radius: 5px;
      padding: 10px 25px;
      font-family: "Lato", sans-serif;
      font-weight: 500;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
      outline: none;
    } */

    /* 16 */
    /* .btn-16 {
      border: none;
      color: #000;
      background-color: #fff;
    }
    .btn-16:after {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      direction: rtl;
      z-index: -1;
      box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
      transition: all 0.3s ease;
    }
    .btn-16:hover {
      color: #000;
    }
    .btn-16:hover:after {
      left: auto;
      right: 0;
      width: 100%;
    } */

    /* .home {
      position: absolute;
      margin-top: 30px;
      margin-left: 1150px;
      color: white;
      cursor: pointer;
      animation: pulse 1s infinite ease-in-out alternate;
    }
    .on-sound {
      position: absolute;
      visibility: visible;
      width: 60px;
      height: 60px;
    }
    .off-sound {
      position: absolute;
      visibility: hidden;
      width: 60px;
      height: 60px;
    }

    .home-png {
      width: 70px;
      height: 70px;
    }

    .animation {
      animation: bounce-in 2s ease 1;
    } */
    /* @keyframes bounce-in {
      0% {
        opacity: 0;
        transform: scale(0.3);
      }
      50% {
        opacity: 1;
        transform: scale(1);
      }
      70% {
        transform: scale(0.9);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes appear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes bounce2 {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
    @keyframes pulse {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.1);
      }
    } */
    /* .pre {
      position: absolute;
      top: 300px;
      left: 150px;
      z-index: 1000;
    }
    .next {
      position: absolute;
      top: 300px;
      left: 950px;
      z-index: 1000;
    }
    a {
      position: absolute;
      width: 130px;
      height: 40px;
    } */

    /* @keyframes slide-in-anim {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
        transform: translateX(0%);
      }
    } */